.header {
    text-align: center;
}
.form-group {
    display: flex;
    justify-content: space-evenly;
}
.submitbtn {
    margin-top: 10px;
    text-align: center;
}
.card-top {
    display: flex;
    justify-content: space-evenly;
}